$darkBlue: #2b2b3a;
$mediumBlue: #254558;
$lightBlue: #1ed2f4;
$seafoam: #24b2a6;
$lightGray: #f4f4f4;
$yellow: #eafc40;
$red: #e53236;
$white: #f4f5f6;

// $darkBlue: #033A57;
// $mediumBlue: #054B71;
// $lightBlue: #085E8C;
// $lightGray: #f4f4f4;
// $red: #fa363f;

// $darkBlue: #060f2a;
// $mediumBlue: #091237;
// $lightBlue: #132a7d;
// $lightGray: #f4f4f4;
// $red: #e53236;

// $darkBlue: #071233;
// $mediumBlue: #0b1643;
// $lightBlue: #173398;
// $lightGray: #f4f4f4;
// $red: #e53236;

// $darkBlue: #081437;
// $mediumBlue: #0c1849;
// $lightBlue: #1937a5;
// $lightGray: #f4f4f4;
// $red: #e53236;

// $darkBlue: #0c1f55;
// $mediumBlue: #142271;
// $lightBlue: #2755ff;
// $lightGray: #f4f4f4;
// $red: #e53236;

// PREVIOUS COLORS
// $darkBlue: #01293F;
// // $darkBlue: #032D43;
// $mediumBlue: #033A57;
// // $lightBlue: #05486C;
// $lightBlue: #125A81;
// $lightGray: #f4f4f4;
// $red: #e53236;
// // $test: #138BFF;

// $darkBlue: #25417a;
// $mediumBlue: #275b9f;
// $lightBlue: #2e9bca;
// $lightGray: #f4f4f4;
// $red: #ff4550;

// #051937
// #A8EB12
